
  html {

    background: #121212;
    font-family: Verdana, sans-serif;
    color: #03dac6;
  }

  .icon {

    overflow: hidden;
  }
  

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    margin-right: 1rem;
    cursor: pointer;
}

nav ul li a {
    font-size: 1.3rem;
    padding: 8px 15px;
    text-decoration: none;
    color: #03dac6;
}

nav ul li:nth-child(4) a{
    border-radius: 5px;
    border: solid #03dac6;
    border-width: thin;
}

nav ul li a:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: 0.25s;

}

.hamburger {
    position: absolute;
    right: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.3s all;
}


header .logo{
    font-size: 2rem;
    margin: 0rem 1.5rem;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    height: 7vh;
}

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top:0;
    left: 0;

}

.App {
    margin-left: 100px;
}

.sidebar ul {
    list-style-type: none;
    padding-top: 200px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sidebar ul li {
    margin-top: 25px;
}
.link {
    color: #03dac6;
}
.link:hover {
    color: #03da96;
}

.para {
    width: 500px;
}

.intro {
    padding-top: 70px;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 900;
    padding-top: 30px;
    margin-top: 50px;
    display: inline;
    color: white;

}
 .intro h2.name {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: rgb(0, 174, 90);
}

.intro h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0;
}
.intro .hi {
    padding-left: 70px;
}

.my_resume {
    z-index: 1;
    padding-top: 250px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.my_resume a{
    z-index: 1;
    color: rgb(0, 174, 90);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    border: solid rgb(0, 174, 90);
    border-width: thin;
}
.my_resume a:hover{
    z-index: 1;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: 0.25s;
} 
.app-body {
    margin-left: 100px; /* Same as sidebar width*/
}

.about {
    padding-top: 100px;
    padding-bottom: 200px;
}

.about .container{

    display: flex;
    align-items:center;
    justify-content: space-evenly;
}
.about .img{
    padding-left: 25px;
    padding-right: 25px;
}

.skills {
    padding-bottom: 200px;
}

.skills .container {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2933a7;
    margin-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.skills .container ul{
    margin: 0 0;
    padding: 0 0;
}

.skills .container ul li{
    margin: 0 0;
    padding: 0 0;
    list-style: none;
}

.skills .container ul li::before{
    content: "> ";
    font-size: small;
    color: rgb(0, 174, 90);
}
.skill_heading {
    font-size: 17px;
}
.list{
    list-style: none;
}

.projects {
    padding-bottom: 200px;
}

.contact {
    padding-bottom: 50px;

}

.contact-content{
    background-color: #1f2933a7;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 10px;
    margin-top: 25px;
}

.contact ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.contact ul li h1{
    color: rgb(0, 174, 90);
    text-decoration: none;
    font-size: 25px;
}

.contact ul li h1 a{
    color: rgb(0, 174, 90);
    text-decoration: none;
    
}
.about {
    margin-top: 200px;
}
@media (max-width: 500px){
    h2 {
        font-size: 32px;

    }
    .intro h2.name {
        font-size: 32px;

    }
}
@media (max-width: 760px){
    .App {
        overflow: hidden;
        position: relative;
        margin-left: 0;
        
    }
    .about .container {
        flex-direction: column;
    }
    .app-body {
        margin-left: 5px; /* Same as sidebar width*/
    }
    .sidebar {
        width: 100%;
        height: 20px;
        top:auto;
        left: auto;
        position: relative;
        margin-bottom: 70px;
        margin-top: 50px;
       
    }
    
    .sidebar ul {
        padding-left: 0;
        display: flex;
        -ms-transform: none;
        transform: none;
        padding-top: 0px;
        margin-top: 0;
        width: 100%;
        justify-content: space-evenly;
      
    }

    .sidebar ul li {
        margin-top: 0px;
      
    }
    .hamburger{
        display: flex;
        cursor: pointer;
        z-index: 6;
    }
    nav ul {
       
        padding-top: 100px;
        flex-direction: column;
        position: fixed;
        top: 0vh;
        right: -150%;
        background-color: #1f2933;
        height: 86vh;
        width: 50%;
        align-items: center;
        transition: right 0.3s ease-in;
        z-index: 5;
    }
    nav ul li {
        margin-right: 15px;
        padding: 0 0;
        margin-top: -200px;

    }
    .menu-slide{
        right:0;
        transition: right 0.3s ease-in;
    }
    .contact ul{
        flex-direction: column;
        align-items: center;
    }
    .fixed-position {
        overflow: hidden;
     }
    .blurr{
        padding-bottom: 200px;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    .cross{
        position: fixed;
    }
   
    .cross .bar:nth-child(2){
        opacity: 0;
    }
    .cross .bar:first-child{
        transform: rotate(-45deg) translate(-5px, 7px);
    }
    .cross .bar:last-child{
        transform: rotate(45deg) translate(-5px, -7px);
    }
}
